{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock meta %}
</head>

<body>

    {% block content %}
    <div class="form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                    <div class="form-container">
                        <form method="POST" action="" class="form-horizontal">
                            {% csrf_token %}
                            <h3 class="title">Hi there.</h3>
                            <span class="description">Register</span>
                            <div class="form-group">

                                
                            <!-- Input username -->
                            <input type="text" name="username" placeholder="Username" class="form-control">

                            </div>

                            <div class="form-group">
                                <!-- Input password -->
                                <input type="password" name="password1" placeholder="Password" class="form-control">

                            </div>

                            <div class="form-group">
                                <!-- Input confirmation password -->
                                <input type="password" name="password2" placeholder="Password confirmation" class="form-control">

                            </div>

                            <div class="text-center text-lg-start mt-4 pt-2">
                                <ul>
                                    {% if form.username.errors %}
                                        {% for error in form.username.errors %}
                                            <li>{{error}}</li>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.password1.errors %}
                                        {% for error in form.password1.errors %}
                                            <li>{{error}}</li>
                                        {% endfor %}
                                    {% endif %}
                                    {% if form.password2.errors %}
                                        {% for error in form.password2.errors %}
                                            <li>{{error}}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            
                            <button class="btn signin" type="submit" value="Daftar">Sign up</button>
                            <span class="signup">or <a href="{% url 'todolist:login' %}">Log in</a></span>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>