{% extends 'base.html' %}

{% block content %}

<h2>Assignment 3 PBP/PBD</h2>

  {% if watched > not_watched %}
    <h3>Selamat, kamu sudah banyak menonton!</h3>
  {% else %}
    <h3>Wah, kamu masih sedikit menonton!</h3>
  {% endif %}

<table style="width:100%;">
    <tr>
        <th>Title</th>
        <th>Watched</th>
        <th>Rating</th>
        <th>Release Date</th>
        <th>Review</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    
    {% for a in list_watchlist %}
    <tr>
        <th>{{a.title}}</th>
        <th>{{a.watched}}</th>
        <th>{{a.rating}}</th>
        <th>{{a.release_date}}</th>
        <th>{{a.review}}</th>

    </tr>
    <br>
    
{% endfor %}
</table>


{% endblock content %}